<%= form_for(indonesia_village) do |f| %>
  <% if indonesia_village.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indonesia_village.errors.count, "error") %> prohibited this indonesia_village from being saved:</h2>

      <ul>
      <% indonesia_village.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district_id %>
    <%= f.number_field :district_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
