<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @indonesia_village.district_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indonesia_village.name %>
</p>

<%= link_to 'Edit', edit_indonesia_village_path(@indonesia_village) %> |
<%= link_to 'Back', indonesia_villages_path %>
