<p id="notice"><%= notice %></p>

<p>
  <strong>Province:</strong>
  <%= @indonesia_city.province_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indonesia_city.name %>
</p>

<%= link_to 'Edit', edit_indonesia_city_path(@indonesia_city) %> |
<%= link_to 'Back', indonesia_cities_path %>
