<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @indonesia_district.city_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indonesia_district.name %>
</p>

<%= link_to 'Edit', edit_indonesia_district_path(@indonesia_district) %> |
<%= link_to 'Back', indonesia_districts_path %>
