<p id="notice"><%= notice %></p>

<h1>Indonesia Provinces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indonesia_provinces.each do |indonesia_province| %>
      <tr>
        <td><%= indonesia_province.name %></td>
        <td><%= link_to 'Show', indonesia_province %></td>
        <td><%= link_to 'Edit', edit_indonesia_province_path(indonesia_province) %></td>
        <td><%= link_to 'Destroy', indonesia_province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indonesia Province', new_indonesia_province_path %>
