<aside id="left-panel">
  <%= image_tag 'dhs-logo.png', alt: 'SmartAdmin', style: "width: 150px;" %>
  <hr style="border: 0.2px solid black;">

  <h4><%= current_user.name %></h4>
  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <%= left_menu %>
      <li class="chat-users top-menu-invisible">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-windows"></i>
          <span class="menu-item-parent"><%= _('Items') %> <sup><%= _('data') %></sup></span>
          <% if current_page?(items_path) %>
            <b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b>
          <% else %>
            <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
          <% end %>
        </a>
        <ul style="<%= 'display: block' if current_page?(smart_chat_api_path) %>">
          <li>
            <!-- DISPLAY USERS -->
            <div class="display-users">

              <% @disipline = Disipline.all() %>
              <% @disipline.each do |f| %>
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                <span class="nav-label"> <%= f.name %> <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
              <ul>
                <% @getProduct = Product.left_outer_joins(:disipline).where(disipline_id: f.id).select('*, products.id AS product_id') %>
                <% @getProduct.each do |f| %>
                  <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Request">
                      <span class="nav-label"> <%= f.product_name %> <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></span></a>
                    <ul>
                      <% @getType = Type.left_outer_joins(:disipline).where('product_id = ? and disipline_id = ?', f.product_id, f.disipline_id).select('name_type, types.id AS type_id').group('types.id') %>
                      <% @getType.map do |f| %>
                        <li
                          <% if current_page?(getItemsData_dashboard_index_path(f.type_id))
                               concat "class='active'".html_safe
                             end
                          %>
                        >
                          <a href="<%= getItemsData_dashboard_index_path(f.type_id) %>" title="<%= f.name_type %>"><span class='menu-item-parent'><%= f.name_type %></span></a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          </div>
          <!-- END DISPLAY USERS -->
          </li>
        </ul>
      </li>
    </ul>
  </nav>


  <span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
